# Dictionaries in Python

## Collection of Data Items in key-value format

*key -> Consists of immuatable - unique Data Items*

This Notebook is a Guide to Dictionaries in Python :
1. Creation of Dictionaries
2. Accessing
3. Mutability Nature
4. Operations & Functions Corresponding to Dictionaries

In [16]:
# Creating 1-D / 2-D Dictionaries

d = {}
print(d,type(d))  # Empty Dictionary

d1 = {1:2,3:4} #1-D Homogeneous Dict
print(d1,type(d1))

d2 = {'Name':"Yash Matlani",'Age':23,"Aspiration":"To Be an Ammazing Data Scientist","Dream":"To Make My Family Proud",(29,11):2000} #1-D Heterogeneous Dict
print(d2,type(d2))

d3 = {'My_Marks':{'Dsa':70,'Data Mining':85,'Operating Systems':90},"College":"Faculty of Mathematical Science","University":"Delhi University","UG_cgpa":7.8}
print(d3) #2-D Heterogeneous DIct

d4 = dict([('Naam','bhupendar jogi'),('age',32)])
print(d4)

{} <class 'dict'>
{1: 2, 3: 4} <class 'dict'>
{'Name': 'Yash Matlani', 'Age': 23, 'Aspiration': 'To Be an Ammazing Data Scientist', 'Dream': 'To Make My Family Proud', (29, 11): 2000} <class 'dict'>
{'My_Marks': {'Dsa': 70, 'Data Mining': 85, 'Operating Systems': 90}, 'College': 'Faculty of Mathematical Science', 'University': 'Delhi University', 'UG_cgpa': 7.8}
{'Naam': 'bhupendar jogi', 'age': 32}

In [12]:
# Accessing Dict
## No Concept of Indexing
# Items are fetched using keys
print(d1[1])
print(d2.get('Name'))
print(d3.get('My_Marks')['Dsa'])

2
Yash Matlani
70

In [14]:
# Editing Dictionaries
print(d1)
d1[1] = "Hi"
print(d1)

d1[5] = 25
print(d1)

{1: 'Hi', 3: 4}
{1: 'Hi', 3: 4}
{1: 'Hi', 3: 4, 5: 25}

In [20]:
# Deleting Items
d2 = {'Name':"Yash Matlani",'Age':23,"Aspiration":"To Be an Ammazing Data Scientist","Dream":"To Make My Family Proud",(29,11):2000} #1-D Heterogeneous Dict

print(d2)
d2.pop("Age")
print(d2)
print(d2.popitem())
print(d2)
d2.clear()
print(d2)

d2 = {'Name':"Yash Matlani",'Age':23,"Aspiration":"To Be an Ammazing Data Scientist","Dream":"To Make My Family Proud",(29,11):2000} #1-D Heterogeneous Dict

{'Name': 'Yash Matlani', 'Age': 23, 'Aspiration': 'To Be an Ammazing Data Scientist', 'Dream': 'To Make My Family Proud', (29, 11): 2000}
{'Name': 'Yash Matlani', 'Aspiration': 'To Be an Ammazing Data Scientist', 'Dream': 'To Make My Family Proud', (29, 11): 2000}
((29, 11), 2000)
{'Name': 'Yash Matlani', 'Aspiration': 'To Be an Ammazing Data Scientist', 'Dream': 'To Make My Family Proud'}
{}

# Operations & Functions on Dict

## Basic Functions -> len/min/max/sorted

- keys -> *returns the list of keys*
- values -> *returns the list of values*

In [27]:

print(min(d1))
print(max(d1))
print(len(d1))
print(sorted(d1.items()))
print(d2.keys())
print(d2.values())
print(d2.items())

1
3
2
[(1, 2), (3, 4)]
dict_keys(['Name', 'Age', 'Aspiration', 'Dream', (29, 11)])
dict_values(['Yash Matlani', 23, 'To Be an Ammazing Data Scientist', 'To Make My Family Proud', 2000])
dict_items([('Name', 'Yash Matlani'), ('Age', 23), ('Aspiration', 'To Be an Ammazing Data Scientist'), ('Dream', 'To Make My Family Proud'), ((29, 11), 2000)])

**Dictionary Comprehension**

In [30]:
dict1 = {key : key%5 for key in range(1,6) }
dict2 = {i:i**2 for i in range(1,10) if(i%2 == 0)}

In [31]:
print(dict1,type(dict1))
print(dict2,type(dict2))

{1: 1, 2: 2, 3: 3, 4: 4, 5: 0} <class 'dict'>
{2: 4, 4: 16, 6: 36, 8: 64} <class 'dict'>