# Python Lists : 

### List in python is a collection of elements.
### Python Lists are similar to arrays in c++ / Java. But differ in 2 ways
1. Dynamic in size -> Size can be manipulated at runtime
2. Referential -> can contain elements of different types

### Subtopics covered in this notebook are 
- List Creation & Access
- List Indexing / Slicing
- List Mutability Nature / Editing / Deleting
- Operations in List 
- List Functions

#### ___________________________________________________________________________________________________________________

#### Creating & Accessing List

In [16]:
# 1-D List
l1 = [1,2,3,4,5]
print(l1,type(l1),sep='\n')

[1, 2, 3, 4, 5]
<class 'list'>

In [17]:
# 2-D List
l2 = [[1,2,3],[4,5,6]]
print(l2,type(l2),sep='\n')

[[1, 2, 3], [4, 5, 6]]
<class 'list'>

In [18]:
print(list('12345'))

['1', '2', '3', '4', '5']

In [19]:
# Hetrogenous List
l3 = [1,'Bonjour',23.7,True,[1,2,3]]

In [20]:
print(l3,type(l3),sep='\n')

[1, 'Bonjour', 23.7, True, [1, 2, 3]]
<class 'list'>

In [21]:
for i in l3:
    print(i,type(i),sep=' ',end='\n')

1 <class 'int'>
Bonjour <class 'str'>
23.7 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>

#### ___________________________________________________________________________________________________________________

#### Indexing & Slicing

In [22]:
print(l1[0]) #Indexing
print(l2[-1]) #NEgative Indexing
print(l3[0:5]) #positive slicing
print(l3[0:5:2]) # Positive slicing via skipping
print(l1[::-1]) # Reversing List Elements
print(l1[3::-1])

1
[4, 5, 6]
[1, 'Bonjour', 23.7, True, [1, 2, 3]]
[1, 23.7, [1, 2, 3]]
[5, 4, 3, 2, 1]
[4, 3, 2, 1]

#### ___________________________________________________________________________________________________________________

#### Mutability Nature
- Editing List
- Deleting List / Part of a List

In [23]:
l1[3] = "Changed"
print(l1)

[1, 2, 3, 'Changed', 5]

In [24]:
del l1[0]

In [25]:
print(l1)

[2, 3, 'Changed', 5]

In [26]:
del l2[1]
print(l2)

[[1, 2, 3]]

In [27]:
del l2[0][2]
print(l2)

[[1, 2]]

In [28]:
del l3
print(l3)

NameError: name 'l3' is not defined

In [29]:
l3 = [1,23.5,"Bonjour",True,[1,2,3,4]]

In [30]:
# Manipulating Functions
print(l3)
l3.remove(23.5) # Removes the specified element from the list
print(l3)
l3.pop() # removes the lst element from the list
print(l3)
l3.clear() # Clears all the elements from the list
print(l3)

[1, 23.5, 'Bonjour', True, [1, 2, 3, 4]]
[1, 'Bonjour', True, [1, 2, 3, 4]]
[1, 'Bonjour', True]
[]

#### ___________________________________________________________________________________________________________________

#### Operations in Lists

1. Arithmetic Operations
2. Membership
3. Loops

In [31]:
l1 = [1,2,3,4,5]
l1

[1, 2, 3, 4, 5]

In [32]:
# Ways of traversing

for i in l1: # Through traversing list
    print(i,end=' ')
print('\n')
for i in range(len(l1)): #through list length function
    print(l1[i],end=' ')

1 2 3 4 5

1 2 3 4 5

In [33]:
# Multiplication 
print(l1*3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [34]:
#Membersship
3 in l1

True

#### ___________________________________________________________________________________________________________________

### **List Functions**

#####  Basic Functions
- len/min/max/sorted

##### Manipulation Related Functions
- Append/clear/pop/extend/sort/reverse

In [35]:
l1 = [1,4,3,2,-1,5]
print(len(l1))
print(min(l1))
print(max(l1))
print(l1)
print(sorted(l1))
print(l1)
l1.sort()
print(l1)

6
-1
5
[1, 4, 3, 2, -1, 5]
[-1, 1, 2, 3, 4, 5]
[1, 4, 3, 2, -1, 5]
[-1, 1, 2, 3, 4, 5]

In [36]:
print(l1)
for i in range(6,11):
    l1.append(i)
print(l1)
for i in range(3):
    l1.pop()
print(l1)
l1.extend(l2)
print(l1)
print(l1+l2)
l1.pop()
print(l1)
l1.reverse()
print(l1)

[-1, 1, 2, 3, 4, 5]
[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-1, 1, 2, 3, 4, 5, 6, 7]
[-1, 1, 2, 3, 4, 5, 6, 7, [1, 2]]
[-1, 1, 2, 3, 4, 5, 6, 7, [1, 2], [1, 2]]
[-1, 1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1, -1]

### List Comprehension

In [37]:
list1 = [i for i in range(6)]
print(list1)

[0, 1, 2, 3, 4, 5]

In [38]:
l2 = ["apple","anar","pineapple","avacado","banana"]
l3 = [i for i in l2 if i.startswith('a')]
print(l3)

['apple', 'anar', 'avacado']