# Sets In Python

- An Un-Ordered Collection of elements.
- Can contain only unique elements
- Mutable in nature , but contains only immutable types

## Notebook Contains

- Creation
- Indexing & Slicing
- Mutability Nature
- Operations on Sets
- Functions

General epresentation -> (1,2,5,6,9)

In [1]:
#Creation
s = (1)
print(type(s))
s = set() # Requires Special Type-Casting
print(type(s))

#creating 1-D Homogeneous Set
s1 = set([1,2,3,4,5,5,4,3,2,1])
print(s1,type(s1)) # Keeps Only Unique elementss

#Creating Heterogeneous set
s2 = set(["Yash",True,"Yash",1,23.5,False,0])
print(s2)

<class 'int'>
<class 'set'>
{1, 2, 3, 4, 5} <class 'set'>
{'Yash', True, False, 23.5}

In [2]:
# Accessing
for i in s2:
  print(i)

Yash
True
False
23.5

#### Editing Sets

- Delete FUnctions
1. pop
2. remove
3. discard

- Add Functions
1. add
2. update

In [3]:
s2 = set(["Yash",True,"Yash",1,23.5,False,0])
print(s2)
s2.pop()
print(s2)
s2.remove(23.5)
print(s2)
s2.discard(1)
print(s2)
s2.clear()
print(s2)

{'Yash', True, False, 23.5}
{True, False, 23.5}
{True, False}
{False}
set()

In [4]:
s1 = set([1,2,3,4,5,5,4,3,2,1])

print(s1)
s1.add(23)
print(s1)
s1.update([25])
print(s1)
s1.add("Yash") #Allowed since strings are immutable
s1.add((1,2,3))
print(s1)
#s1.add([25]) #Not Allowed
#print(s1) #Sets does not allow mutable data type in it

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 23}
{1, 2, 3, 4, 5, 23, 25}
{1, 2, 3, 4, 5, (1, 2, 3), 23, 'Yash', 25}

#  Set Functions
##### Functions related to set theory
1. union
2. intersect
3. Set Difference
4. symmetric difference

#### Common Functions
- len/min/max

In [5]:
s1 = set([1,2,3,4,5,5,4,3,2,1])
s2 = set([3,4,5,6,7,10,120])

print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s2.difference(s1))
print(s1.symmetric_difference(s2))
print(s2.symmetric_difference(s1))

{1, 2, 3, 4, 5, 6, 7, 10, 120}
{3, 4, 5}
{1, 2}
{120, 10, 6, 7}
{1, 2, 6, 7, 10, 120}
{1, 2, 6, 7, 10, 120}

In [6]:
print(s1.issubset(set([1,2,3,4,5])))
print(s2.issubset(s1))
print(s1.issuperset(s2))
s3 = {i for i in "YAsh"} #Set Comprehension
print(s1.isdisjoint(s3))

True
False
False
True