###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [ ]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

l = []
t = ()

for i in range(len(test_list)):
    if i != 0 and test_list[i][0] == test_list[i-1][0]:
        t += (test_list[i][1],)
    else:
        if t:
            l.append(t)
        t = (test_list[i][0], test_list[i][1])
if t:
    l.append(t)
print(l)

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
t = (1, 5, 7, 8, 10)
res = ()
res += (t[0]*t[1],)
for i in range(1,len(t)-1):
  imp = t[i]*(t[i-1]+t[i+1])
  res += (imp,)
res += (t[len(t)-2]*t[len(t)-1],)
print(res)

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
t1 = (1,2,3,0)
t2 = (0,1,2,3)

if(t1 == t2):
  print("t1 and t2 are same")
else:
  print("t1 and t2 are not same")

t1 and t2 are not same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
List = 0
Set = 0
Tuples = 0

list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

for i in list1:
  if(type(i) == list):
    List += 1
  elif (type(i) == set):
    Set += 1
  elif (type(i) == tuple):
    Tuples += 1
  else:
    continue
print("List -",List)
print("Set -",Set)
print("Tuples -",Tuples)

List - 2
Set - 2
Tuples - 1