### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
sal = float(input("Enter The Salary "))
ctc = sal
sal = 0.9*0.95*0.97*sal # HRA , DA & PF deduction
if((sal >= 500000.0) & (sal<1000000.0)):
  sal *= 0.9
elif ((sal>=1000000.0) & (sal < 2000000.0)):
  sal *= 0.8
elif (sal>=2000000.0):
  sal *= 0.7
else:
  sal = sal
print("Monthly Salary of an employee with ctc of",ctc,"& yearly salary of",sal,"is ",sal//12)

Enter The Salary 3000000
Monthly Salary of an employee with ctc of 3000000.0 & yearly salary of 1741634.9999999995 is  145136.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
a = int(input('Enter The First Angle'))
b = int(input('Enter The Second Angle'))
c = int(input('Enter The Third Angle'))

if(a+b+c == 180):
  if((a+b > c) & (b+c > a) & (a+c > b)):
    print("Yes")
  else:
    print("Enter Valid Angles")
else:
  print("Cannot form a triangle")

Enter The First Angle90
Enter The Second Angle90
Enter The Third Angle0
Enter Valid Angles

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
cp = int(input("Enter Cost Price"))
sp = int(input("Enter Selling Price"))
pr = sp-cp
if(pr>0):
  print("Profit")
elif (pr<0):
  print("Loss")
else:
 print("No Profit No Loss")

Enter Cost Price20
Enter Selling Price20
No Profit No Loss

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
print('''Menu Driven Progem :
Press 1 to Proceed Further.
Press 0 to terminate.''')
x = int(input())
if(x == 1):
  while(True):
    print("What Unit Conversion Do you want")
    x = int(input(''' Press 1 For Cm to ft Conversion.
Press 2 For km to miles
Press 3 For USD to INR
Press 4 to Exit.'''))
    if(x == 1):
      y = float(input("Enter The Unit in cm"))
      print(y,"cm in feet =",0.0328*y)
    elif (x == 2):
      y = float(input("Enter The Unit in Km"))
      print(y,"km in miles = ",0.621*y)
    elif (x == 3):
      y = float(input("Enter USD"))
      print(y,"USD is equal to Rs",82.95**y)
    else:
      print("Thankyou")
      break
else :
  print("Terminated")

Menu Driven Progem :
Press 1 to Proceed Further.
Press 0 to terminate.
1
What Unit Conversion Do you want
 Press 1 For Cm to ft Conversion.
Press 2 For km to miles
Press 3 For USD to INR
Press 4 to Exit.3
Enter USD1
1.0 USD is equal to Rs 82.95
What Unit Conversion Do you want
 Press 1 For Cm to ft Conversion.
Press 2 For km to miles
Press 3 For USD to INR
Press 4 to Exit.4
Thankyou

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
f1 = 0
f2 = 1
i = 0
print(f1,"",f2,end=' ')
while(i<8):
  temp = f1+f2
  f1 = f2
  f2 = temp
  print(temp,end=' ')
  i +=1

0  1 1 2 3 5 8 13 21 34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
n = int(input("Enter The Number "))
prod = 1
for i in range(1,n+1):
  prod  *= i
print("Factorial of",n,"is equal to",prod)

Enter The Number 6
Factorial of 6 is equal to 720

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
n = int(input("Enter The Given Number"))
temp = n
sum = 0
while(temp!=0):
  x = temp%10
  sum = sum*10 + x
  temp = temp//10
print("Reverse of",n,"is",sum)

Enter The Given Number654
Reverse of 654 is 456

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
a = int(input('Enter The Number: '))
b = 1
sum = 0
while(b<a):
  if(b%5 == 0):
    pass
  else:
    sum += b
  if(sum>300):
    sum = sum-b
    break
  b += 1
print("Sum of",a,"natural numbers after skipping 5 is",sum)

Enter The Number: 30
Sum of 30 natural numbers after skipping 5 is 276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [1]:
x = int(input("Enter The Number"))
cnt = 1
sum = x
avg = x
while(True):
  x = int(input("Keep Entering"))
  if(x == 0):
    break
  else:
    sum += x
    cnt += 1

avg = sum/cnt
print("Sum:",sum,"Average",avg)

Enter The Number5
Keep Entering3
Keep Entering0
Sum:  8 Average 4.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [2]:
for i in range(2000,3001):
  if(i%7 == 0 and i%5 != 0):
    print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [7]:
for i in range(1000,3000):
  temp = i
  is_even = True
  while(temp!=0):
    if(temp%10)%2 != 0:
      is_even = False
    temp = temp//10
  if(is_even):
    print(i,end=' ')

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [12]:
n = int(input("Enter The Number"))
is_prime = True
if(n>=0 and n<2):
  print("Not a Prime Number")
if(n == 2):
  print("Prime Number")
for i in range(2,n):
  if(n%i == 0):
    is_prime = False
    break

if(is_prime):
  print("Prime Number")
else:
  print("Not a Prime Number")

Enter The Number113
Prime Number

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [15]:
def is_armstrong(n):
  temp = n
  sum = 0
  while(temp !=0):
    x = (temp%10)**3
    sum += x
    temp = temp // 10
  if(sum == n):
    return True
  return False

n = int(input("Enter The Lower Limit of the Range"))
m = int(input("Enter The Upper  Limit of the Range"))
for i in range(n,m+1):
  if(is_armstrong(i)):
    print(i,end=' ')

Enter The Lower Limit of the Range0
Enter The Upper  Limit of the Range1000
0 1 153 370 371 407