# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
print("Data","Science","Mentorship","Program",sep="-",end="-")
print("Started ","By","CampusX",sep="-")

Data-Science-Mentorship-Program-Started -By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [2]:
c = 27
print("Converting Celsuis into fahrenheit ")
f = (9/5)*c + 32
print("Celcius -> ",c," Fahrenheit -> ",f)

Converting Celsuis into fahrenheit
Celcius ->  27  Fahrenheit ->  80.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [5]:
a = 5
b = 2
print("Before Swapping")
print("a:",a," b:",b)
t = a
a = b
b = t
print("After Swapping")
print("a:",a," b:",b)

Before Swapping
a: 5  b: 2
After Swapping
a: 2  b: 5

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [7]:
import math
print("Enter The Coordinates: ")
x1 = int(input("Enter X-Coordinate 1 "))
y1 = int(input("Enter Y-Coordinate 1 "))
x2 = int(input("Enter X-Coordinate 2 "))
y2 = int(input("Enter X-Coordinate 2 "))

euc = math.pow((y2-y1),2) + math.pow((x2-x1),2)
print("Distance = ",math.sqrt(euc))

Enter The Coordinates:
Enter X-Coordinate 1 5
Enter Y-Coordinate 1 2
Enter X-Coordinate 2 9
Enter X-Coordinate 2 5
Distance =  5.0

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [12]:
## Principal amount : p , rate : r, time : t
p = 10000
r = 5 # 5%
t = 2   # 2 years

SI = p*r*t/100
print("Simple Interest Earned on Principle Amount of Rs",p,"@",r,"% for a time period of",t,"years is Rs",SI)

Simple Interest Earned on Principle Amount of Rs 10000 @ 5 % for a time period of 2 years is Rs 1000.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [16]:
heads = int(input("Enter Total Heads"))
legs = int(input("Enter Total Legs"))

dog = legs/2 - heads
print("Total Number of Dogs: ",int(dog),"\n","Total Number of Chicken :",int(heads-dog))

Enter Total Heads20
Enter Total Legs68
Total Number of Dogs:  14
 Total Number of Chicken : 6

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [17]:
n = int(input("Enter The Number: "))
print("Sum of ",n,"Natural Numbers is ",n*(n+1)/2)

Enter The Number: 5
Sum of  5 Natural Numbers is  15.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [18]:
a1 = int(input("Enter The First Term"))
a2 = int(input("Enter The Second Term"))
d = a2-a1
n = int(input("Enter The Value of n"))
print(n,"th term of the series is ",a1+(n-1)*d)

Enter The First Term5
Enter The Second Term8
Enter The Value of n6
6 th term of the series is  20

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [21]:
n1 = int(input("Enter Numerator of Fraction 1 "))
d1 = int(input("Enter Denominator of Fraction 1 "))
n2 = int(input("Enter Numerator of Fraction 2 "))
d2 = int(input("Enter Denominator of Fraction 2 "))

sum = (n1*d2 + d1*n2) / (d1*d2)
print("Sum of the fractions is: ",sum)

Enter Numerator of Fraction 1 3
Enter Denominator of Fraction 1 5
Enter Numerator of Fraction 2 2
Enter Denominator of Fraction 2 5
Sum of the fractions is:  1.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [23]:
H = int(input("Enter Height of the Tank"))
L = int(input("Enter Length of the Tank"))
B = int(input("Enter Breadth of the Tank"))

h = int(input("Enter Glass Height"))
r = int(input("Enter Glass Raduis"))

print("Total Number of Glasses : ",int((H*L*B)/(h*r)))

Enter Height of the Tank20
Enter Length of the Tank20
Enter Breadth of the Tank20
Enter Glass Height5
Enter Glass Raduis3
Total Number of Glasses :  533